html, body {
    margin: 0;
    background-color: #d9d9d9;
    height: 100%;
    font-family: "Open Sans", serif;
}

h1 {
    color: #18b4b4;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    box-shadow: 0 4px;
}

.detect {
    color: #141515;
    margin: 0;
    padding: 0;
}

p {
    vertical-align: bottom;
    text-align: center;
    color: #d9d9d9;
    margin: 5px;
}

.player {
    width: 100%;
    vertical-align: bottom;
}

.footer {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}