body {
    margin: 0;
    background-color: #d9d9d9;
}

h1 {
    color: #18b4b4;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    box-shadow: 0 4px;
}

p {
    text-align: center;
    font-family: "Open Sans", serif;
}