{{ define "navigation" }}

    <a href="/" class="header-button-home">HOME</a>
    <a href="/gorum" class="header-button header-button-active">GORUM</a>

{{ end }}

{{ define "body" }}

    {{/*    <div class="body-gorum">*/}}
    <div class="body-gorum-menu">

        {{ template "menu" }}

    </div>
    <div class="body-gorum-content">

        {{ template "content" }}

    </div>
    <div class="body-gorum-account">

        {{ template "account"}}

    </div>
    {{/*    </div>*/}}

{{ end }}

{{ define "footer" }}


{{ end }}