@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    height: 100vh;
    width: 100vw;
    min-width: 864px;
    max-height: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", serif;
    overflow-x: auto;
}

p {
    margin: inherit;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #d9d9d9;
}

/* Here comes the header */

.header {
    box-sizing: border-box;
    flex: 0 0 72px;
    width: 100%;
    color: #18b4b4;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px;
    display: flex;
    z-index: 10;
}

.header-space {
    flex: 1 0 auto;
}

.header-center {
    box-sizing: border-box;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    flex: 0 1 1440px;
    height: 100%;
}

.header-button {
    display: flex;
    padding-inline: 3pt;
    color: #18b4b4;
    font-size: 36px;
    text-decoration: none;
    align-items: flex-end;
    line-height: 1.4em;
}

.header-button-home {
    display: flex;
    padding-inline: 4pt;
    color: #18b4b4;
    font-size: 72px;
    text-decoration: none;
    align-items: flex-end;
    line-height: 72px;
}

.header-button-home:hover,
.header-button:hover {
    background-color: #ff8622;
    color: #d9d9d9;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.header-button-home-active,
.header-button-active {
    background-color: #18b4b4;
    color: #d9d9d9;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

/* Here comes the body */

.body {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*.body-gorum {*/
/*    display: flex;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

.body-gorum-menu {
    display: flex;
    flex: 0 0 288px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.body-gorum-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.body-gorum-account {
    display: flex;
    flex: 0 0 288px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.body-gorum-content-underConstruction {
    display: inline-grid;
    flex: 1 0 100%;
    align-items: center;
    justify-items: center;
}

.body-gorum-content-text {
    display: flex;
    flex: 1 0 auto;
}

/* Here comes something else */

.name {
    font-size: 36px;
    display: inline;
    font-weight: bold;
}

.version {
    color: #efdc49;
    font-size: 8px;
    font-weight: bold;
    display: inline;
}

.player {
    width: 100%;
    vertical-align: bottom;
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}

.footer-text {
    font-weight: bold;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    vertical-align: bottom;
    text-align: center;
    color: #18b4b4;
    box-shadow: 0 -4px;
}