<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imakiri's personal site</title>
    <link href="/static/css" rel="stylesheet">
    <link href="/static/ico" rel="icon">
</head>
<body>
<div class="main">
    <div class="header">
        <div class="header-space"></div>
        <div class="header-center">

            {{ template "navigation" }}

        </div>
        <div class="header-space"></div>
    </div>
    <div class="body">

        {{ template "body" }}

    </div>
    <div class="footer">

        {{ template "footer" }}

    </div>
</div>
</body>
</html>

