{{ define "index"}}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>imakiri's Search Engine</title>
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/favicon.ico" rel="icon">
    </head>
    <body>
    <h1>Go</h1>
    <form action="/detect" enctype="multipart/form-data" method="post">
        <p class="detect">
            Please specify a file, or a set of files:
            <input type="file" name="file">
        </p>
        <div class="detect">
            <input type="submit" value="Detect">
        </div>
    </form>
    <div class="footer">
        <p>Веб-сервер, который скоро будет кое что делать</p>
        <p>А пока немножко музыки</p>
        <iframe class="player" width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PLLMzStdfMNobbRaoBXoEa-_-B6Lcsi7rc&index=2"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    </body>
    </html>

{{ end }}