html, body {
    margin: 0;
    background-color: #d9d9d9;
    height: 100%;
    font-family: "Open Sans", serif;
    display: flex;
    flex-flow: column;
}

.header {
    color: #18b4b4;
    text-align: center;
    height: 2vm;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    box-shadow: 0 4px;
}

.name {
    font-size: 32px;
    display: inline;
    font-weight: bold;
}

.version {
    color: #efdc49;
    font-size: 8px;
    font-weight: bold;
    display: inline;
}

.player {
    width: 100%;
    vertical-align: bottom;
}

.footer {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}

p {
    vertical-align: bottom;
    text-align: center;
    color: #d9d9d9;
    margin: 5px;
}